Foxtrot_DataFlow (1).json
{
  "name": "Foxtrot_DataFlow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -736,
        -64
      ],
      "id": "c782b22f-4f2c-4fc8-8523-7c41900afa83",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "organization",
        "owner": {
          "__rl": true,
          "value": "Team-Foxtrot-GIKI",
          "mode": "name"
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -496,
        -64
      ],
      "id": "c95c6912-7b4b-4439-93f4-f4aeda9c6177",
      "name": "Get repositories for an organization",
      "webhookId": "2881a227-837b-419a-b6fb-d025d36086f8",
      "credentials": {
        "githubApi": {
          "id": "5hlVXiIYuzDQjW7T",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -288,
        -64
      ],
      "id": "8bd6e73d-e183-4324-b3b8-4193c1fed21a",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "Team-Foxtrot-GIKI",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Get repositories for an organization').item.json.name }}",
          "mode": "name"
        },
        "filePath": "={{ $json.path || '/' }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -80,
        -48
      ],
      "id": "0ca39c17-72ea-4036-a05f-53ed3d1a0351",
      "name": "List files",
      "webhookId": "50dcc9a1-5695-46fa-98a2-ea1e311c8bc1",
      "credentials": {
        "githubApi": {
          "id": "5hlVXiIYuzDQjW7T",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "Team-Foxtrot-GIKI",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Loop Over Items').item.json.name }}",
          "mode": "name"
        },
        "filePath": "={{ $json.path }}",
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        912,
        -96
      ],
      "id": "edbeea88-9a76-4aa6-a6ff-a346bb3c1199",
      "name": "Get a file",
      "webhookId": "f3f94e97-5811-406a-b336-935c545a50c0",
      "credentials": {
        "githubApi": {
          "id": "5hlVXiIYuzDQjW7T",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5a03d019-e684-41b1-9441-1f463ec0131f",
              "leftValue": "={{ $json.name }}",
              "rightValue": "^(?!.*(\\/Library\\/|\\/\\.git\\/|\\/\\.venv\\/|\\/__pycache__\\/|\\/site-packages\\/|\\/node_modules\\/|\\/dist-info\\/|\\/PackageCache\\/|\\/Artifacts\\/|\\/Logs\\/|\\/UserSettings\\/)).*\\.(py|md|lua|txt|yaml|yml|json|cs|html|js|ipynb|waypoints|docx)$",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        384,
        -64
      ],
      "id": "5d3cecc9-4ae1-4dc6-9d13-293d5c4ad66c",
      "name": "Filter"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "dir",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "82b0637f-4300-49a8-9efe-7aa7841701cb"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "aa453e0c-1935-4825-b284-b1aec4e33ecd",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "file",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        160,
        -64
      ],
      "id": "ee1cab41-b570-4cc4-a100-d9425e5925f4",
      "name": "Switch"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "foxtrot",
          "mode": "list",
          "cachedResultName": "foxtrot"
        },
        "options": {
          "clearNamespace": false,
          "pineconeNamespace": "={{ $('Loop Over Items').item.json.name }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1072,
        -144
      ],
      "id": "069bf8fe-538e-487c-aa1a-a158b21d74b1",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "JS4gvyLCu4MxqByn",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        768,
        176
      ],
      "id": "862b2490-544f-4443-905d-53c36694d386",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "kwAThRqPghCdQMfv",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "loader": "textLoader",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        928,
        144
      ],
      "id": "641495e8-f6ae-4cea-a2d7-8f23a9d2b4b6",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "17109811-9205-4219-9df2-11d8be1aa98c",
              "leftValue": "={{ $json.name }}",
              "rightValue": ".docx",
              "operator": {
                "type": "string",
                "operation": "endsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        624,
        -80
      ],
      "id": "5a47928e-ac9c-413e-b623-a73f621a40fe",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "Team-Foxtrot-GIKI",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Loop Over Items').item.json.name }}",
          "mode": "name"
        },
        "filePath": "={{ $json.path }}",
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1040,
        -544
      ],
      "id": "1310a856-f4d0-4cc9-abc9-c3e41da87de1",
      "name": "Get a file1",
      "webhookId": "f3f94e97-5811-406a-b336-935c545a50c0",
      "credentials": {
        "githubApi": {
          "id": "5hlVXiIYuzDQjW7T",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "foxtrot",
          "mode": "list",
          "cachedResultName": "foxtrot"
        },
        "options": {
          "clearNamespace": false,
          "pineconeNamespace": "={{ $('Loop Over Items').item.json.name }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1200,
        -592
      ],
      "id": "7c27594a-790b-4568-92d6-0ebfc62770d9",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "JS4gvyLCu4MxqByn",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        896,
        -272
      ],
      "id": "1f9045fd-f19b-4e2c-9072-ef827eb71afa",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "kwAThRqPghCdQMfv",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "loader": "docxLoader",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1056,
        -304
      ],
      "id": "0072d0ee-6fec-423c-904e-b114700b0b71",
      "name": "Default Data Loader1"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get repositories for an organization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get repositories for an organization": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "List files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "List files",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get a file1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file1": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "9a5fe374-2db8-461e-b4be-cf87d98d2527",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "84477c8594e4e5fa1a85df07d16feed30068678c5643e6e958310722165b467f"
  },
  "id": "J1irRNaMaC4fPih9sm5Go",
  "tags": []
}