Backend/RAGAgent.json
{
  "name": "RAGAgent",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}\n\nConversation history:\n{{ ($json.body.history || []).map(h => `${h.role}: ${h.content}`).join('\\n') }}",
        "options": {
          "systemMessage": "\"You are FoxBrain, Team Foxtrot's technical assistant. Answer based on the retrieved context from the vector store. If the context is partially relevant, do your best to answer. Only say you don't have the information if the retrieved context is completely unrelated. Always cite the file name and repository when referencing code.\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        0,
        0
      ],
      "id": "995f492c-6ebb-4d52-b846-30e7117040d8",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "sentence-transformers/all-MiniLM-L6-v2",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        208,
        288
      ],
      "id": "afd77755-40e1-443c-b551-95ac9bc4c4cd",
      "name": "Embeddings HuggingFace Inference",
      "credentials": {
        "huggingFaceApi": {
          "id": "Puj4ABqqOm5gnV5h",
          "name": "HuggingFaceApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -128,
        208
      ],
      "id": "6bacf686-5ab8-4f0e-86c3-706642542077",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "tvo5P4AcOSMM65Cs",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Search Team Foxtrot's entire codebase and documentation. Contains Python scripts (.py), Markdown docs (.md), Lua drone autopilot code (.lua), Jupyter Notebooks (.ipynb), YAML configs (.yaml/.yml), plain text (.txt), and waypoint files (.waypoints) from all repositories in the Team-Foxtrot-GIKI GitHub organization. Use this tool for ANY question about Team Foxtrot's projects including: setup guides, installation instructions, code explanations, function implementations, drone configurations, ROS setup, DroneKit usage, MAVLink communication, project structure, and getting started guides. Always use this tool before answering — do not guess or use general knowledge.",
        "pineconeIndex": {
          "__rl": true,
          "mode": "list",
          "value": "foxtrot"
        },
        "topK": 15,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        208,
        160
      ],
      "id": "3f88f1d7-077e-4475-a5aa-21db6934cd26",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "vBWyTZCJj0o7FHuF",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "de82c344-f9dd-466d-ae72-7fc7eedb5dc2",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -288,
        16
      ],
      "id": "f2a7195f-c7a5-4f11-bd21-34a71b9d1f88",
      "name": "Webhook",
      "webhookId": "de82c344-f9dd-466d-ae72-7fc7eedb5dc2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        480,
        48
      ],
      "id": "d6d88b0e-6912-4207-98ef-eb7909d8deb9",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Embeddings HuggingFace Inference": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "047a965d-8948-4e8e-9981-cfedd77c2409",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4b236d6a0553c9e875e34c327be292e58e9d17db4065ace6cec462abff30df1b"
  },
  "id": "n1Z0AWpb932xRPaI",
  "tags": []
}